# ==========================================
# Availability Scraper configuration
# ==========================================

# Server
PORT=3004
HOST=0.0.0.0

# Browser
#
# Local development using a remote browser:
# BROWSER_CDP_URL=http://YOUR_NAS_IP:9222
#
# Production Docker:
# BROWSER_CDP_URL=http://availability-browser-prod:9222
BROWSER_CDP_URL=

# Scraper schedule
SCRAPER_START_TIME=
SCRAPER_NORMAL_STOP_TIME=
SCRAPER_THURSDAY_STOP_TIME=
SCRAPER_TIMEZONE=Europe/London

# Store configuration
SPECSAVERS_STORE=
SPECSAVERS_AUDIOLOGY_STORE_NUMBER=
SPECSAVERS_LINE_OF_BUSINESS=